@font-face {
  font-family: 'Mona Sans';
  src:
    url('Fonts/Mona-Sans.woff2') format('woff2 supports variations'),
    url('Fonts/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

$main-black: #121212;
$main-white: #FFFFFF;
$background: #F9F9F9;

$main-font: 'Mona Sans';

$fs-85: 0.85rem; // 13.6px
$fs-90: 0.9rem; // 14.4px
$fs-100: 1rem; // 16px
$fs-125: 1.25rem; // 20px
$fs-150: 1.5rem; // 24px
$fs-175: 1.75rem; // 28px
$fs-200: 2rem; // 32px
$fs-225: 2.25rem; // 36px
$fs-250: 2.5rem; // 40px
$fs-275: 2.75rem; // 44px
$fs-300: 3rem; // 48px
$fs-350: 3.5rem; // 56px
$fs-400: 4rem; // 64px
$fs-450: 4.5rem; // 72px
$fs-500: 5rem; // 80px

.body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $background;
  min-height: 100vh;
  font-family: $main-font;
}
