@import 'global.module.scss';

.header {
	background: $main-black;
	height: auto;
	max-width: 100vw;
	font-size: $fs-100;

	.MainNav {
		max-width: 100%;
		padding: 0 40px;
		height: 72px;
		display: flex;
		justify-content: space-between;

		a {
			color: $main-white;
			text-decoration: none;
			font-weight: 400;
			font-stretch: 125%;
		}

		.LeftNav {
			display: flex;
			align-items: center;
			min-width: 800px;

			a {
				padding: 0 30px;
			}
		}

		.RightNav {
			display: flex;
			align-items: center;
			display: flex;
			flex-grow: 1;

			.SearchContainer {
				height: 40px;
				flex-grow: 1;
				position: relative;

				img {
					position: absolute;
					left: 6px;
					top: 4px;
				}

				input {
					width: 100%;
					height: 100%;
					border-radius: 3px;
					border: none;
					padding: 0 5px 0 49px;
				}
			}
			.RightNavIcons {
				display: flex;

				a:nth-child(2) {
					margin-top: 2px;
				}

				a,
				button {
					padding: 0px 6px;
				}

				button {
					background-color: #a5a5a5;
					outline: none;
					width: 32px;
					height: 32px;
					border-radius: 50px;
					border: 2px solid #fff;
					margin-left: 6px;
					cursor: pointer;
				}
			}
		}

		a {
			color: $main-white;
			text-decoration: none;
			font-weight: 400;
			font-stretch: 125%;
		}

		.RightNavIcons {
			display: flex;

			a:nth-child(2) {
				margin-top: 2px;
			}

			a,
			button {
				padding: 0px 6px;
			}

			button {
				background-color: #a5a5a5;
				outline: none;
				width: 32px;
				height: 32px;
				border-radius: 50px;
				border: 2px solid #fff;
				margin-left: 6px;
				cursor: pointer;
			}
		}
	}
}

.SubNav {
	width: 100%;
	height: 38px;
	position: absolute;
	top: 72px;
	background-color: red;
}

$cubic: cubic-bezier(0.4, 0.01, 0.165, 0.99);
$menuItems: 6;

.window {
	position: relative;
	max-width: 100%;
	padding: 0 40px;
	height: 100vh;
	display: flex;
	justify-content: space-between;
	border-radius: 3px;
	background-color: white;
	.headerMobile {
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		height: 72px;
		width: 100%;
		background-color: $main-black;
		transition: all 0.5s ease-out, background 1s ease-out;
		transition-delay: 0.2s;
		z-index: 1;
		.burgerContainer {
			position: relative;
			display: inline-block;
			height: 50px;
			width: 50px;
			cursor: pointer;
			transform: rotate(0deg);
			transition: all 0.3s $cubic;
			user-select: none;
			-webkit-tap-highlight-color: transparent;
			#burger {
				width: 18px;
				height: 8px;
				position: relative;
				display: block;
				margin: 0px auto 0;
				top: 50%;
				.bar {
					width: 100%;
					height: 2px;
					display: block;
					position: relative;
					background: #fff;
					transition: all 0.3s $cubic;
					transition-delay: 0s;
					&.topBar {
						transform: translateY(3px) rotate(0deg);
					}
					&.btmBar {
						transform: translateY(12px) rotate(0deg);
					}
				}
			}
		}

		.menu {
			display: flex;
			align-items: center;
			flex-direction: column;
			list-style: none;
			.menuItem {
				border-bottom: 1px solid $main-white;
				width: 80%;
				margin-top: 20px;
				padding: 20px 0px;
				transform: scale(1.15) translateY(-30px);
				opacity: 0;
				transition: transform 0.5s $cubic, opacity 0.6s $cubic;
				@for $i from 1 through $menuItems {
					&:nth-child(#{$i}) {
						transition-delay: #{0.56 - ($i * 0.07)}s;
					}
				}
			}
			.dropdown {
				img {
					margin-left: 10px;
				}
				div {
					display: flex;
					flex-direction: column;
					margin-top: 10px;
				}
				a {
					font-size: $fs-150;
					margin-top: 30px;
				}
			}
			a {
				font-size: $fs-200;
				text-decoration: none;
				color: $main-white;
				font-weight: 200;
				font-stretch: 125%;
			}
		}
		&.menuOpened {
			height: 140vh;
			background-color: $main-black;
			transition: all 0.5s ease-in, background 0.5s ease-in;
			transition-delay: 0.25s;
			.burgerContainer {
				transform: rotate(90deg);
				transform: translate(0px);
				#burger {
					.bar {
						transition: all 0.4s $cubic;
						transition-delay: 0.2s;
						&.topBar {
							transform: translateY(5px) rotate(45deg);
						}
						&.btmBar {
							transform: translateY(3px) rotate(-45deg);
						}
					}
				}
			}
			.menu {
				.menuItem {
					transform: scale(1) translateY(0px);
					opacity: 1;
					@for $i from 1 through $menuItems {
						&:nth-child(#{$i}) {
							transition-delay: #{0.07 * $i + 0.2}s;
						}
					}
				}
			}
		}
	}
}
