@import 'global.module.scss';

.SubNav {
	width: 100vw;
	height: 38px;
	position: absolute;
	top: 72px;
	background-color: $main-black;

	.Links {
		display: flex;
		justify-content: space-between;
		padding: 0 30px;

		a {
			color: $main-white;
			text-decoration: none;
			font-weight: 200;
			font-stretch: 125%;
			font-size: $fs-90;
		}
	}
}

@media screen and (max-width: 900px) {
	.Links {
		padding: 0 15px !important;

		a {
			font-size: $fs-85 !important;
		}
	}
}
